# Data

## dirtree

-----------------------------

.. autofunction:: ANEMO::Data.dirtree
  :noindex:

<br><br>

**exemple of code:**

In [1]:
import ANEMO

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------
dirpath = 'dataANEMO' # Data directory path
return_ = False # If False prints the path tree in the console,
                # if True does not print the dirpath tree but returns a
                # variable containing it

#------------------------------------------------------------------------------
# to apply the function:
#------------------------------------------------------------------------------
ANEMO.Data.dirtree(dirpath, return_)

dataANEMO/
    sub-002/
        sub-002_task-aSPEM_settings.json
        sub-002_task-aSPEM_events.tsv
        sub-002_task-aSPEM_results.tsv
        sub-002_task-aSPEM_data.tsv

## open

-----------------------------

.. autofunction:: ANEMO::Data.open
  :noindex:

<br><br>

**exemple of code:** to access all the data in the file

In [2]:
import ANEMO

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------
dirpath = 'dataANEMO' # Data directory path
sub ='002' # Participant identifier
ses = None # Name of the Session
task = None # Name of the Task
acq = None # Name of the Aquisition
run = None # IndexRun
RawData = False # If True open RawData, if False open DataAnemo

#------------------------------------------------------------------------------
# to apply the function:
#------------------------------------------------------------------------------

# Dictionary containing all the data
full_data = ANEMO.Data.open(dirpath, sub, task, ses, acq, run) 
print(full_data.keys()) 

# Dictionary correspond to particular experiment
#------------------------------------------------------------------------------
data_exp = full_data['sub-002_task-aSPEM'] 
print(data_exp.keys())

# Access to Data
#------------------------------------------------------------------------------
Data = data_exp['Data']

# Access to Results
#------------------------------------------------------------------------------
Results = data_exp['Results']

# Access to Events
#------------------------------------------------------------------------------
Events = data_exp['Events']

# Access to Settings
#------------------------------------------------------------------------------
Settings = data_exp['Settings']

dict_keys(['sub-002_task-aSPEM'])
dict_keys(['Settings', 'Events', 'Results', 'Data'])

In [3]:
Data

         trial       time    xpr    ypr     psr
0            1   872314.0  656.8  496.3  1343.0
1            1   872315.0  656.8  496.0  1344.0
2            1   872316.0  656.9  495.7  1344.0
3            1   872317.0  657.0  495.7  1344.0
4            1   872318.0  657.0  495.8  1344.0
...        ...        ...    ...    ...     ...
1130727    600  3079208.0  239.0  523.5  1061.0
1130728    600  3079209.0  238.4  523.0  1062.0
1130729    600  3079210.0  237.8  522.3  1062.0
1130730    600  3079211.0  237.6  522.1  1062.0
1130731    600  3079212.0  237.2  521.8  1062.0

[1130732 rows x 5 columns]

In [4]:
Results

     trial
0        1
1        2
2        3
3        4
4        5
..     ...
595    596
596    597
597    598
598    599
599    600

[600 rows x 1 columns]

In [5]:
Events

,onset,duration,sample,trial,eventIdentifier,num_trial,num_block,dir_target,proba,switch,StimulusOn,StimulusOff,TargetOn,TargetOff,SFIX,EFIX,SSACC,ESACC,SBLINK,EBLINK
0,0.000,2.444,871760.0,1,TRIALID 0,1,1,0.0,0.647524,0.0,872423,872986,873287,874067,"[872321, 872696, 873541, 873704, 874063]","[872687, 873501, 873669, 874041, 874172]","[872688, 873502, 873670, 874042]","[872695, 873540, 873703, 874062]",NaN,NaN
1,3.544,2.390,875304.0,2,TRIALID 1,2,1,1.0,0.647524,0.0,875883,876484,876784,877565,"[875869, 876053, 877006, 877172]","[876035, 876983, 877139, 877663]","[876036, 876984, 877140]","[876052, 877005, 877171]",NaN,NaN
2,7.034,2.451,878794.0,3,TRIALID 2,3,1,1.0,0.647524,0.0,879399,880031,880331,881113,"[879357, 879598, 880551, 880705]","[879578, 880526, 880681, 881213]","[879579, 880527, 880682]","[879597, 880550, 880704]",NaN,NaN
3,10.586,2.542,882346.0,4,TRIALID 3,4,1,0.0,0.647524,0.0,882944,883690,883990,884762,"[882907, 883214, 884253, 884618]","[883195, 884213, 884594, 884869]","[883196, 884214, 884595]","[883213, 884252, 884617]",NaN,NaN
4,14.229,2.653,885989.0,5,TRIALID 4,5,1,1.0,0.647524,0.0,886595,887429,887729,888511,"[886557, 886776, 887953, 888117, 888271]","[886763, 887928, 888095, 888242, 888610]","[886764, 887929, 888096, 888243]","[886775, 887952, 888116, 888270]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,2190.538,2.535,3062298.0,596,TRIALID 195,196,3,0.0,0.035278,0.0,3062900,3063617,3063917,3064700,"[3062858, 3064140, 3064285, 3064496]","[3064113, 3064262, 3064475, 3064803]","[3064114, 3064263, 3064476]","[3064139, 3064284, 3064495]",NaN,NaN
596,2194.174,2.321,3065934.0,597,TRIALID 196,197,3,0.0,0.035278,0.0,3066529,3067057,3067357,3068131,"[3066494, 3067588, 3067768]","[3067552, 3067749, 3068236]","[3067553, 3067750]","[3067587, 3067767]",NaN,NaN
597,2197.596,2.327,3069356.0,598,TRIALID 197,198,3,0.0,0.035278,0.0,3069965,3070465,3070766,3071548,"[3069924, 3070159, 3070520, 3071001, 3071163]","[3070149, 3070499, 3070964, 3071140, 3071650]","[3070150, 3070500, 3070965, 3071141]","[3070158, 3070519, 3071000, 3071162]",NaN,NaN
598,2201.024,2.606,3072784.0,599,TRIALID 198,199,3,0.0,0.035278,0.0,3073381,3074193,3074493,3075263,"[3073345, 3073395, 3073748, 3074715, 3074911]","[3073372, 3073730, 3074686, 3074890, 3075362]","[3073373, 3073731, 3074687, 3074891]","[3073394, 3073747, 3074714, 3074910]",NaN,NaN
599,2204.730,2.753,3076490.0,600,TRIALID 199,200,3,0.0,0.035278,0.0,3077096,3078029,3078330,3079112,"[3077061, 3077243, 3077430, 3078563, 3078793]","[3077219, 3077410, 3078526, 3078774, 3079211]","[3077220, 3077411, 3078527, 3078775]","[3077242, 3077429, 3078562, 3078792]",NaN,NaN

In [6]:
Settings

,TaskName,InstitutionName,InstitutionAddress,Manufacturer,ManufacturersModelName,SoftwareVersion,TaskDescription,Instructions,CogAtlasID,CogPOID,...,N_trials,screen_height_px,N_frame_stim,datadir,seed,mode,V_X_deg,RashBass,Data,Results
0,AnticipatorySPEM,Institut de Neurosciences de la Timone,"FacultÃ© de MÃ©decine, 27 Bd Jean Moulin, 13005 ...",SR-Research,EYELINK II CL v5.01 Jan 16 2014,EYELINK II 1,long blabla,blablabla,None,None,...,200,1024,45,data,51,enregistrement,15,100,{},{}

## save

-----------------------------

.. autofunction:: ANEMO::Data.save
  :noindex:

<br><br>

**exemple of code:**

In [7]:
import ANEMO

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------
dirpath = 'dataANEMO' # Data directory path
data = full_data # Dictionary containing for experiment file the Data,
                 # the Results, the Events, and the Settings

#------------------------------------------------------------------------------
# to apply the function:
#------------------------------------------------------------------------------
ANEMO.Data.save(dirpath, data)

## example of code

-----------------------------

| Once your data is open you can modify it.
| You will find here two code examples showing you how to do it:

<br>

### add new data to the Data

Here, we want to add a new data in the data that we will call `new_data`. It corresponds to `xpr` multiplied by 2, but we want to calculate this new data only for some trials of an experiment

In [8]:
import ANEMO

#------------------------------------------------------------------------------
# open Data
#------------------------------------------------------------------------------
# Dictionary containing all the data
full_data = ANEMO.Data.open(dirpath='dataANEMO', sub='002') 

expnames = ['sub-002_task-aSPEM'] # list of names of the particular experience
trials = [1,100,110] # list of trials

#------------------------------------------------------------------------------
# add new data
#------------------------------------------------------------------------------
for expname in expnames:
    
    # Dictionary correspond to particular experiment
    data_exp = full_data[expname] 
    
    # Data to particular experiment
    Data = data_exp['Data'] # or data_exp.Data
    
    # add new empty data
    Data['new_data'] = [None]*len(Data)
    
    for t in trials:
        trial_data = Data[Data.trial==t] # trial Data
        Data.loc[(Data.trial==t), 'new_data'] = trial_data['xpr']*2
    
#------------------------------------------------------------------------------
# save Data
#------------------------------------------------------------------------------
ANEMO.Data.save(dirpath='dataANEMO', data=full_data)

<br><br>

### add new events to the Events

Here, we want to add a new event in the data that we will call `Stop_search_MiSacc`. This one corresponds to the event `TargetOn` + 100ms

In [9]:
import ANEMO

#------------------------------------------------------------------------------
# open Data
#------------------------------------------------------------------------------
# Dictionary containing all the data
full_data = ANEMO.Data.open(dirpath='dataANEMO', sub='002') 

#------------------------------------------------------------------------------
# add new events
#------------------------------------------------------------------------------
for expname in full_data.keys():
    
    # Dictionary correspond to particular experiment
    data_exp = full_data[expname] 
    
    # Events to particular experiment
    events = data_exp['Events'] # or data_exp.Events
    
    # add new events
    events['Stop_recherche_MiSacc'] = events['TargetOn']+100

#------------------------------------------------------------------------------
# save Data
#------------------------------------------------------------------------------
ANEMO.Data.save(dirpath='dataANEMO', data=full_data)